@import url("mynotmalize.css");

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeue-Roman-55";
	src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Roboto';
	font-size: 13px;
	font-weight: 400;
	background-color: #191919;
	color: #85878C;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1110px;
	margin: 0px auto;
	box-sizing: content-box;
	padding: 0 15px;
}

img {
	/* object-fit: cover;
	object-position: center; */
}


/* =========================================== */

.work {}

.work_style {
	padding: 60px 0px 30px 0px;
}

.work__container {}

.work__heading {}

.work__heading:not(:last-child) {
	margin-bottom: 60px;
}

.heading {
	position: relative;
	min-height: 150px;
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
}

.heading::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 2px;
	background-color: #34C759;
}

.heading__bg-size {
	font-family: "HelveticaNeue";
	font-weight: 900;
	font-size: 100px;
	line-height: 1.5;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #303030;
	display: inline-block;
	padding: 0 10px;
}

.heading__title {
	font-size: 36px;
	line-height: 1.5;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	margin-top: -100px;
	color: #D9D9D9;
}

/* --------------------------------- */

.work__body {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	row-gap: 24px;
}

.work__Items {
	flex: 1 1 25%;
	padding: 0 15px;

}

.work__item {
	background-color: #252525;
	padding: 24px 24px 42px;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
	min-width: 200px;
	height: 100%;
}

.work__item>*:not(:last-child) {
	margin-bottom: 20px;
}

.work__item:hover {
	background-color: #34C759;
}

.item-work {}

.item-work__title {
	font-weight: 400;
	font-size: 22px;
	line-height: 1.18;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #191919;
	color: #fff;
	position: relative;
	padding-bottom: 20px;
	transition: all 0.3s ease 0s;
}

.work__item:hover .item-work__title {
	color: #191919;
}

.item-work__title::before {
	content: '';
	position: absolute;
	background-color: #34C759;
	height: 2px;
	width: 60px;
	left: 0;
	bottom: 0;
	transition: all 0.3s ease 0s;
}

.work__item:hover .item-work__title:before {
	background-color: #191919;
}

.item-work__title:not(:last-child) {
	margin-bottom: 24px;
}

.item-work__text {
	font-size: 13px;
	line-height: 138%;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease 0s;
}

.work__item:hover .item-work__text {
	color: #191919;
}

/*! ---------------------------------------- */

.dishes {}

.dishes_style {
	padding: 60px 0 30px;
}

.dishes__heading:not(:last-child) {
	margin-bottom: 60px;
}

.dishes__body {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	row-gap: 30px;
}

.dishes__items {
	flex: 1 1 33.333%;
	padding: 0 15px;
}

.dishes__item {
	min-width: 290px;
}

.item-dishes {}

.item-dishes__image {
	max-height: 100%;
}

.item-dishes__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.item-dishes__info {
	padding: 30px 30px 24px;
	background-color: #252525;
}

.item-dishes__info>*:not(:last-child) {
	margin-bottom: 20px;
}

.info-item-dishes {}

.info-item-dishes__title {
	font-size: 32px;
	line-height: 94%;
	color: #D9D9D9;
}

.info-item-dishes__discription {
	display: block;
	font-size: 12px;
	line-height: 133%;
	letter-spacing: -0.15px;
	color: #A4A8B2;
}

.info-item-dishes__text {}

.info-item-dishes__footer {
	display: flex;
	margin-left: -6px;
	justify-content: space-between;
}

.info-item-dishes__rating {
	/* flex: 1 0 auto; */
}

.info-item-dishes__button {
	font-weight: 900;
	font-size: 10px;
	line-height: 2;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	background-color: #262626;
	border: 2px solid #303030;
	border-radius: 30px;
	padding: 0 32px;
	min-height: 40px;
	display: inline-flex;
	align-items: center;
	transition: all 0.3s ease 0s;
}

.dishes__item:hover .info-item-dishes__button {
	background-color: #34C759;
	border: 2px solid #34C759;
	color: #252525;
}